body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(45deg, #F7A03C, #EA4D32);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  height: 50px; /* Ajusta la altura a 50px */
  padding: 10px 20px;
}

.logo-Container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}    

.logo-Container img {
  height: 40px;
  margin-right: 10px;
}

.navLink-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    gap: 35px;
    flex-wrap: wrap;
    margin-right: 2.5%;
    margin-left: 2.5%;

}

.navLink-Container a {
  color: #444444;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.navLink-Container a:hover {
  color: #0072C6;
}

  