body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.mainBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  height: 50px; /* Ajusta la altura a 50px */
  padding: 15px 20px;
}





.logo-Container {
    display: flex;
    margin-top: 1.5%;
    align-items: center;
    justify-content: flex-start;
}    

img {
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}


.cerrar {
  background-color: #F7A03C;
  color: #fcfcfc;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding:1rem;
  border-radius: 10px;
  letter-spacing: 0.5px;
}

.cerrar a{
   color: #FFFFFF;
}

.cerrar:hover{
  background-color: #EA4D32;
  color: #fcfcfc;
  padding:1rem;

}


  