body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(45deg, #F7A03C, #EA4D32);
}

.mainBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  height: 50px; /* Ajusta la altura a 50px */
  padding: 10px 20px;
}



.search{
  
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  width: 100%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all .2s ease;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='-10 0 40 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") left / contain no-repeat ;
}
.search:hover{
    box-shadow: 0 0 0 0 #f9a03c inset, #e94e32 0 0 0 2px;
}
.search:focus{
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #f9a03c inset, #e94e32 0 0 0 3px;
}


.logo-Container {
    display: flex;
    margin-top: 1.5%;
    align-items: center;
    justify-content: flex-start;
}    

.logo-Container img {
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.mainLink-Container {
  display: flex;
  width: 50%;
  gap: 35px;
  
  margin-left: 20px;
  
}

.mainLink-Container a {
  color: #444444;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.search a:hover {
  color: #0072C6;
}

  