body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(45deg, #F7A03C, #EA4D32);
}

h1 {
  color: black;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}

